<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CEP</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">

</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/palindromos">Palíndromos</a></li>
                <li class="main-header__item"><a href="/troco">Troco</a></li>
                <li class="main-header__item"><a href="/veiculo">Veículos</a></li>
                <li class="main-header__item"><a class="active" href="/cep">CEP</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="cover" class="min-vh-100">
            <div id="cover-caption">
                <div class="container">
                    <div class="row text-white">
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                            <h1 class="display-4 py-2 text-truncate">CEP</h1>
                            <div class="px-2">
                                <form action="" class="justify-content-center">
                                    <div class="form-group">
                                        <label class="sr-only">Início</label>
                                        <input type="text" class="form-control" id="cep1" value="31270590">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">Início</label>
                                        <input type="text" class="form-control" id="cep2" value="30570194">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">Início</label>
                                        <input type="text" class="form-control" id="cep3" value="30160012">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">Início</label>
                                        <input type="text" class="form-control" id="cep4" value="30160906">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">Início</label>
                                        <input type="text" class="form-control" id="cep5" value="30190921">
                                    </div>
                                    <button type="button" class="btn btn-sm btn-primary" role="button" onClick="buscaCeps()">Busca os Endereços</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal" tabindex="-1" role="dialog" id="resultado">
            <div class="modal-dialog" role="document"> 
                <div class="modal-content">
                    <form class="form-horizontal" id="formFuncao">
                        <div class="modal-header">
                            <h5 class="modal-title">Endereços por CEP</h5>
                        </div>
                        <div class="modal-body">

                            <div>
                                <ul id="listaCeps"></ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="cancel" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div>
            <ul id="listaCeps"></ul>
        </div>
    </main>
   
    <script type="text/javascript">

        function buscaCeps() {

            $("#listaCeps").html('');
            const ceps = [
                { 'cep': $("#cep1").val() },
                { 'cep': $("#cep2").val() },
                { 'cep': $("#cep3").val() },
                { 'cep': $("#cep4").val() },
                { 'cep': $("#cep5").val() }
            ];

            $("#resultado").modal('show');

            var ajax_request = function(cep) {
                var deferred = $.Deferred();

                $.ajax({
                    url: '/determina-cep',
                    dataType: "json",
                    type: 'GET',
                    data: cep,
                    success: function(data) {
                        let html = '';
                        resultado = JSON.parse(data);

                        if (resultado.erro === true) {
                            html = "<li>Não foi possível localizar este endereço.</li>";
                        } else {
                            html = "<li>" + resultado.cep + ": " + resultado.logradouro + " - " + resultado.bairro + " - " + resultado.localidade + "</li>";
                        }

                        $("#listaCeps").append(html);
                        
                        deferred.resolve(data.logradouro);
                    },
                    error: function(error) {
                        deferred.reject(error);
                    }
                });

                return deferred.promise();
            };

            var looper = $.Deferred().resolve();

            $.when.apply($, $.map(ceps, function(cep, i) {
                looper = looper.then(function() {
                    return ajax_request(cep);
                });

                return looper;
            }));
        }
       
    </script>
</body>

</html>